*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(../assets/from_background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 90%;
    width: 90%;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.text-center{
    text-align: center;
}
.heading_bold{
    font-size: 25px;
    font-weight: 600;
}
.heading_medium{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.text_light{
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
.line{
    height: 1px;
    width: 100%;
    background-color: gray;
}
.input-field{
  /* border: 1px solid black; */
  height: auto;
  margin: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  
}

.center-vertical{
    display: flex;
    align-items: center;
}
.text-area{
    padding: 10px;
    max-height: 80px;
    max-width: 60%;
    margin-left: 30px;
}
input[type='text']
{
    padding: 10px;
   
}
.input-box{
    margin-right: 30px;
    height: 40px;

}
.input-box:focus{
   border-color: rgba(0, 0, 255, 0.84);
}
.radio_text{
    margin: 5px;
}
.box{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .input-box{
    width: 72%;
}
.radio_btn{
    width: 80%;
}
.nextBtn{
    margin-top: 50px;
    height: 40px;
    width: 30%;
    background-color: rgba(0, 0, 255, 0.728);
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-4{
    width: 40%;
}
.w-3
{
    width: 30%;
}
.select-field{
    width: 70%;
    height: 40px;
}
.mt-3{
    margin-top: 30px;
}
.p-10{
    padding: 10px;
}
.file-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input[type='file']
{
    margin: 25px;
}
#err-user{
    color: red;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 40px;

}