
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="#style.css">
     

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" placeholder=" First " required>
                        
                        
                            <input type="text" placeholder=" Last " required>
                        </div>
                    </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="MM/DD/YYYY" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                            
                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label>Father Name</label>
                                <input type="text" placeholder=" First " required>
                                <input type="text" placeholder=" Last " required>
                                
                            </div>
    
                            <div class="input-field">
                                <label>Mother Name</label>
                                <input type="text" placeholder=" First " required>
                            <input type="text" placeholder=" Last " required>
                                
                            </div>

                            <div class="input-field">
                                <label>Gender</label>
                                <select required>
                                    <option disabled selected>Select gender</option>
                                    <option>Male</option>
                                    <option>Female</option>

                                    <div class="input-field">
                                        <label>Nationality</label>
                                        <input type="text" placeholder="Enter nationality" required>
                                    </div>

                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Home Address </label>
                                            <input type="text" placeholder="Permanent or Temporary" required>
                                        </div>
                
                                        <div class="input-field">
                                            <label></Address></label>
                                            <input type="text" placeholder="Enter your Street Address" required>
                                        </div>
                
                                        
                                        <div class="input-field">
                                            <label>Country</label>
                                            <input type="text" placeholder="Enter your Country" required>
                                        </div>
                
                                        <div class="input-field">
                                            <label>City</label>
                                            <input type="text" placeholder="Enter your City" required>
                                        </div>
                                    </div>
                                </div>
                
    

                        <div class="input-field">
                            <label>Telephone-Home</label>
                            <input type="number" placeholder=" ### ### #### " required>
                        </div>

                        <div class="input-field">
                            <label>Telephone-Mobile</label>
                            <input type="number" placeholder=" ### ### #### " required>
                        </div>
                        
                            </select>
                        </div>

                        

                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">

                <div class="input-field">
                    <label>HSC Institution Name</label>
                    <input type="text" placeholder="HSC Instituion Name" required>
                </div>
                

                    <select required>
                        <option disabled selected>Select Board</option>
                        <option>ICSC</option>
                        <option>CBSC</option>
                        <option>State Board</option>
                </select>
            </div>

                    <div class="input-field">
                       <label>SSC Institution Name</label>
                      <input type="text" placeholder="SSC Instituion Name" required>
                    </div>
                

                    <select required>
                        <option disabled selected>Select Board</option>
                        <option>ICSC</option>
                        <option>CBSC</option>
                        <option>State Board</option>
                        </select>
                    </div>

                        <div class="fields">
                            <div class="input-field">
                                <label>Currently Pursuing</label>
                                <input type="text" placeholder="currently Pursuing" required>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label>Current Institution name</label>
                                    <input type="text" placeholder="Institution Name" required>
                                </div>


        
                                <div class="fields">
                                    <div class="input-field">
                                        <label>Current Backlogs</label>
                                    

                                        <select required>
                                            <option disabled selected>Select</option>
                                            <option>yes</option>
                                            <option>no</option>
                                        
                                        </div>
                                    </div>


                                    <div class="form Third"></div>
            
                            
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                    </div>
                
                        
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </form>
        
            








    
     
    


        
    </div>

    <script src="script.js"></script>
</body>
</html>

